PG_DB=monorepo_template
PG_USER=monorepo_template
PG_PASSWORD=monorepo_template_password
PG_URL=postgresql://monorepo_template:monorepo_template_password@localhost/monorepo_template

FRONTEND_URL=http://localhost:5173
